/* screen - u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 */

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 {
  align-items: flex-start;
  background-color: var(--white-ffffff100);
  display: flex;
  
  width:100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .content {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
 width:100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .product {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .about-product {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .offer {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--black-0b0b0b100);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 100%;
}
.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .product{
	width: 100%;
}
.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .expires-feb-04-2024 {
  color: var(--black-0b0b0b100);
  font-style: italic;
  font-weight: 500;
  line-height: 15.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-or-video {
  align-items: center;
  background: linear-gradient(180deg, rgba(121, 17, 19, 0.40) 0%, rgba(168, 178, 187, 0.24) 142.16%), #791113;
  display: flex;
  flex-direction: column;
  height: 370px;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  max-width: 500px;
	width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame-223 {
  align-items: center;
  border: 1px solid;
  border-color: var(--white-ffffff100);
  display: inline-flex;
  gap: 10px;
  margin-top: -1.00px;
  padding: 15px 10px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .x000-cost-i-000-shipping {
  color: var(--white-ffffff100);
  font-style: italic;
  font-weight: 500;
  line-height: 15.4px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .x38436604f9505dd7d7c746e32980db1f-2 {
  height: 227px;
  object-fit: cover;
  position: relative;
  width: 338px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .slider {
  align-items: center;
  background-color: var(--white-ffffff50);
  border-radius: 20px;
  display: flex;
  height: 2px;
  position: relative;
  width: 100px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .rectangle {
  background-color: var(--white-ffffff100);
  border-radius: 20px;
  height: 2px;
  position: relative;
  width: 50px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .question {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 10px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .do-you-want-to-get-it-for-free {
  align-self: stretch;
  color: var(--black-0b0b0b100);
  font-weight: 500;
  line-height: 25.3px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .variants {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button {
  align-items: center;
  border: 1px solid;
  border-color: var(--black-0b0b0b100);
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  padding: 14px 25px;
  position: relative;
  width: 122px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .sample-text-1 {
  color: var(--black-0b0b0b100);
  line-height: 22.1px;
  margin-top: -0.50px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button-1 {
  margin-bottom: -1.50px;
  width: 123.0px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .sample-text {
  color: var(--white-ffffff100);
  font-weight: 500;
  line-height: 22.1px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .customer-reviews {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 0px 0px;
  position: relative;
  max-width: 490px;
  width: 100%;
  margin: auto;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .reviews {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  max-width:490px;
  width: 100%;
  margin: auto;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .review-1 {
  margin-top: -1.00px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-1 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .name {
  color: var(--black-0b0b0b100);
  font-weight: 500;
  line-height: 17.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .date {
  color: var(--useddark-gray);
  font-weight: 400;
  line-height: 13.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .rating {
  flex: 0 0 auto;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .i-am-extremely-happ {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img {
  height: 160px;
  object-fit: cover;
  position: relative;
  width: 160px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .review {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white-ffffffall-graye6);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  padding: 20px 15px;
  position: relative;
  width: 95%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-2 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-3 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .i-received-this-set {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-1 {
  width: 160px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-4 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-5 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .perfect-for-my-purse {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-6 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-7 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .the-delivery-took-4 {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-2 {
  flex: 1;
  flex-grow: 1;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-3 {
  flex: 1;
  flex-grow: 1;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-8 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-9 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .tt-48-years-old {
  color: var(--black-0b0b0b100);
  font-weight: 500;
  line-height: 17.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .such-a-great-and-une {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .review-2 {
  margin-bottom: -1.00px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-10 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-11 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .got-them-today-fant {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-4 {
  flex: 1;
  flex-grow: 1;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-5 {
  flex: 1;
  flex-grow: 1;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button-2 {
  align-self: stretch;
  flex: 0 0 auto;
  margin-left: -1.50px;
  margin-right: -1.50px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .our-organization-ask {
  color: var(--black-0b0b0b60);
  font-weight: 400;
  line-height: 15.6px;
  position: relative;
  text-align: center;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .footer {
  align-items: flex-start;
  background-color: var(--black-0b0b0b100);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 30px 10px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .privacy-policy {
  color: var(--white-ffffff60);
  cursor: pointer;
  font-weight: 400;
  line-height: 18.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .contact-us {
  color: var(--white-ffffff60);
  font-weight: 400;
  line-height: 18.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;

}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .view {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  margin-top: 16px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .sample-text-2 {
  color: #ffffff;
  line-height: 18.2px;
  margin-top: -1.00px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button-3 {
  align-items: center;
  border: 1px solid var(--black-0b0b0b100) !important;
  background-color: var(--black-0b0b0b100);
  border: 1px solid;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: -1.50px;
  padding: 14px 25px;
  position: relative;
  color: #ffffff;
  font-family: var(--font-family-roboto);
  font-size: 17px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame-3 {
  flex: 0 0 auto;	
}
.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .cost{
  position: absolute;
  z-index: 44;
  top: 46px;
}
.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-6 {
  height: 160px;
  object-fit: cover;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .name-5 {
  color: var(--black-0b0b0b100);
  font-weight: 500;
  line-height: 17.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .review-3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white-ffffffall-graye6);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  padding: 20px 15px;
  position: relative;
  width:95%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .sample-text-3 {
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-12 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
