body {
    user-select: none;
    -webkit-user-select: none;
    margin:0;
    padding: 0;   
    background: #000000;  
}
a{
	display: block;
	text-decoration: none;
}
div,a{
    position:absolute; 
    background-repeat: no-repeat;   			
}
.next{
	width: 89px;
	height: 102px;
	background: url(../images/slide50/next.png);
	background-size: 89px 102px;
	left: 942px;
	top: 320px;
}
.base_container {    
	position: absolute;
	transform-origin: 0% 0%;
	transform: scale(1,1);
	width: 1024px;
	height: 768px; 
}

#display{   
   
    left: 0px;
	top: 0px;

}
video{
	width: 736px;
}

#content {
    display: none;
}

.SLIDE_UP {
    opacity: 0;
    transform: scale(1,1) translate(0px, 32px);
}

.SLIDE_DOWN {
    opacity: 0;
    transform: scale(1,1) translate(0px, -32px);
}

.SLIDE_LEFT {
    opacity: 0;
    transform: scale(1,1) translate(32px, 0px);
}

.SLIDE_RIGHT {
    opacity: 0;
    transform: scale(1,1) translate(-32px, 0px);
}

.SCALE_UP {
    opacity: 0;
    transform: scale(0,0) translate(0px, 0px);
}

.SCALE_SMOOTH {
    opacity: 0;
    transform: scale(1.1,1.1) translate(0px, 0px);
}

.FADE_IN {
    opacity: 0;
    transform: scale(1,1) translate(0px, 0px);
}
.FADE_OUT{
    opacity: 1;
    transform: scale(1,1) translate(0px, 0px);
}

.PLAY_500 { animation: PLAY 500ms forwards; }
.PLAY_750 { animation: PLAY 750ms forwards; }
.PLAY_1000 { animation: PLAY 1000ms forwards; }
.PLAY_1250 { animation: PLAY 1250ms forwards; }
.PLAY_1500 { animation: PLAY 1500ms forwards; }

.PLAY_LS_500 { animation: PLAY-LAST-SLIDE 500ms forwards; }





.DELAY_50 { animation-delay: 50ms; }
.DELAY_100 { animation-delay: 100ms; }
.DELAY_150 { animation-delay: 150ms; }
.DELAY_200 { animation-delay: 200ms; }
.DELAY_250 { animation-delay: 250ms; }
.DELAY_300 { animation-delay: 300ms; }
.DELAY_350 { animation-delay: 350ms; }
.DELAY_400 { animation-delay: 400ms; }
.DELAY_450 { animation-delay: 450ms; }
.DELAY_500 { animation-delay: 500ms; }
.DELAY_550 { animation-delay: 550ms; }
.DELAY_600 { animation-delay: 600ms; }
.DELAY_650 { animation-delay: 650ms; }
.DELAY_700 { animation-delay: 700ms; }
.DELAY_750 { animation-delay: 750ms; }
.DELAY_800 { animation-delay: 800ms; }
.DELAY_850 { animation-delay: 850ms; }
.DELAY_900 { animation-delay: 900ms; }
.DELAY_950 { animation-delay: 950ms; }
.DELAY_1000 { animation-delay: 1000ms; }
.DELAY_1050 { animation-delay: 1050ms; }
.DELAY_1100 { animation-delay: 1100ms; }
.DELAY_1150 { animation-delay: 1150ms; }
.DELAY_1200 { animation-delay: 1200ms; }
.DELAY_1250 { animation-delay: 1250ms; }
.DELAY_1300 { animation-delay: 1300ms; }
.DELAY_1350 { animation-delay: 1350ms; }
.DELAY_1400 { animation-delay: 1400ms; }
.DELAY_1450 { animation-delay: 1450ms; }
.DELAY_1500 { animation-delay: 1500ms; }
.DELAY_1600 { animation-delay: 1600ms; }
.DELAY_1700 { animation-delay: 1700ms; }
.DELAY_1800 { animation-delay: 1800ms; }
.DELAY_1900 { animation-delay: 1900ms; }
.DELAY_2000 { animation-delay: 2000ms; }
.DELAY_2100 { animation-delay: 2100ms; }
.DELAY_2200 { animation-delay: 2200ms; }
.DELAY_2300 { animation-delay: 2300ms; }
.DELAY_2400 { animation-delay: 2400ms; }
.DELAY_2500 { animation-delay: 2500ms; }
.DELAY_2600 { animation-delay: 2600ms; }
.DELAY_2700 { animation-delay: 2700ms; }
.DELAY_2800 { animation-delay: 2800ms; }
.DELAY_2900 { animation-delay: 2900ms; }
.DELAY_3000 { animation-delay: 3000ms; }
.DELAY_3100 { animation-delay: 3100ms; }
.DELAY_3200 { animation-delay: 3200ms; }
.scale_up_bottomcenter {
	transform-origin: 50% 100%;
	transform: scale(1,0);
}
.scale_up_topcenter {
	transform-origin: 0% 0%;
	transform: scale(1,0);
}
.BEZIER {
    animation-timing-function: cubic-bezier(0.23, 0.34, 0.43, 1.15);
}

@keyframes PLAY {    
    100% {
        opacity: 1;
        transform: scale(1,1) translate(0px, 0px);
    }
}
@keyframes PLAY-LAST-SLIDE{    
	
    100% {
        opacity: 0;
        transform: scale(1,1) translate(0px, 0px);
    }
}
/* */

.popup_container {
    background: rgba(0, 0, 0, 0.3);
    left:0px;
	top:0px;
	width:1024px;
	height:768px;
    display: none;
}

.references {
    transform: translate(-128px, 0px);
}

.references_circle {
	background: #ffffff;
    width: 680px;
    height: 1024px;
    left: 0px;
    top: -128px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.3);    
    transform: translate(-128px, 0px);
}

.popup_switch {
	background-image: url(../images/shared/popup_switch.png);
	background-size: 97.5px 83.5px;
	left:926.5px;
	top:684.5px;
	width:97.5px;
	height:83.5px;
}



#content >.btn1{
    width: 62px;
    height: 64px;
    background: url(../images/shared/btn1.png);
    background-size: 62px 64px;
    left: 18px;
    top: 703px;
}
#content > .btn2{
    width: 108px;
    height: 64px;
    background: url(../images/shared/btn2.png);
    background-size: 108px 64px;
     left: 78px;
    top: 703px;
}

.popup .footnote .btn1{
    width: 62px;
    height: 64px;
    background: url(../images/shared/btn1.png);
    background-size: 62px 64px;
    top: 10px;
	left: 20px;
}
.popup .footnote .btn2{
    width: 108px;
    height: 64px;
    background: url(../images/shared/btn2.png);
    background-size: 108px 64px;
    top: 10px;
	left: 20px;
}

		
.footnote{
	width: 1024px;
	background-color: #ffffff;
}



.red{
	
background-image: -moz-linear-gradient( -90deg, rgb(185,61,61) 0%, rgb(239,33,33) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(185,61,61) 0%, rgb(239,33,33) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(185,61,61) 0%, rgb(239,33,33) 100%);
  box-shadow: 0px 3px 4.6px 0.4px rgba(0, 0, 0, 0.17);
}
.pink{
	
  background-image: -moz-linear-gradient( -90deg, rgb(234,92,92) 0%, rgb(240,120,120) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(234,92,92) 0%, rgb(240,120,120) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(234,92,92) 0%, rgb(240,120,120) 100%);
  box-shadow: 0px 3px 4.6px 0.4px rgba(0, 0, 0, 0.17);
}
.ligthPink{
  background-image: -moz-linear-gradient( -90deg, rgb(245,164,164) 0%, rgb(248,194,194) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(245,164,164) 0%, rgb(248,194,194) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(245,164,164) 0%, rgb(248,194,194) 100%);
  box-shadow: 0px 3px 4.6px 0.4px rgba(0, 0, 0, 0.17);
}



.grey{
	
background-image: -moz-linear-gradient( 93deg, rgb(196,196,196) 0%, rgb(105,105,105) 100%);
  background-image: -webkit-linear-gradient( 93deg, rgb(196,196,196) 0%, rgb(105,105,105) 100%);
  background-image: -ms-linear-gradient( 93deg, rgb(196,196,196) 0%, rgb(105,105,105) 100%);
  box-shadow: 0px 3px 4.6px 0.4px rgba(0, 0, 0, 0.17);
}


.upBtn{
	
	transform: rotate(-180deg);
}

.show{
   display: block !important;
	opacity: 1 !important;
}




.logotype {
    background-image: url(../images/shared/logo.png);	
	background-size:239px 125px;
	left:788px;
	top:-51px;
	width:239px;
	height:125px;

}



 .win-video{
	 width: 1024px;
     height: 768px;
	 background-color: rgba(255,255,255,.5);
	  display: none;
}
  .close{
	width: 34px;
    height: 34px;
    background: url(../images/global/close.png) no-repeat;
    background-size: 34px 34px;
    cursor: pointer;
}

 .win-video .win{
	width: 760px;
	margin: auto;
	left: 0;
	right: 0;
	top: 170px;
}

.win-video .win video{
	width: 100%;
}







 .popup2{
	display: none;
}
 .popup2{
	width: 1024px;
	height: 768px;
	background: url(../images/shared/popup.png);
	background-repeat: no-repeat;
	background-size: 967px 696px;
	background-position: center;
	background-color: rgba(000,000,000,.6);
	display: none;
}





.next{
	width: 69px;
	height:  102px;
	background: url(../images/slide32/next.png);
	background-size: 69px 102px;
	left: 955px;
	top: 340px;
	
}
.prev{
	width: 69px;
	height:  102px;
	background: url(../images/slide32/prev.png);
	background-size: 69px 102px;
	left: 0px;
	top: 340px;
	display: none;
}




.tip1{
	font-size: 40px;
	top: 240px;
	left:705px;
	font-family: Arial;
	color: #53565b
}

.tip2-1{
	font-size: 40px;
	top:320px;
	left: 730px;
	font-family: Arial;
	color: #53565b
}

.tip2{
	font-size: 40px;
	 top: 275px;
	left: 740px;
	font-family: Arial;
	color: #53565b
}













.polzunok1-pos1-top{
    top: 290px;
}
.polzunok1-pos2-top{
    top: 335px;
}
.polzunok-container-2 * {
    box-sizing: border-box;
    outline: none;
}
.polzunok-container-2 {
    
	left: 299px;
	width: 400px;
}
.polzunok-container-2 .ui-slider {
    position: relative !important;
    background: #e4e4e4;
    height: 12px;
    border-radius:4px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
	width: 100%;
}
.polzunok-container-2 .ui-slider .ui-slider-handle {
    position: absolute;
    padding-left: 60px;
	margin-left: -30px;
    text-align: center;
    line-height: 18px;
	height: 59px;
    cursor: pointer;
   
    top: -23px;
   
    z-index: 2;
    background: url(../images/shared/pin1.png);
	background-size: 60px 59px;
	border: none;
   
}
.polzunok-container-2 .ui-slider .ui-slider-handle b {
   position: absolute;
    top: -23px;
	left: 10px;
	font-size: 40px;
	color: #53565b
}

.polzunok-container-2 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 12px;
    display: block;
    border: 0;
    background: #b93d3d;
    border-radius:10px;
}
.polzunok-container-2 .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.polzunok-container-2 .ui-slider-horizontal .ui-slider-range-max {
    right: 0;    
}





.btn-range{
    width: 148px;
    height: 74px;
    background: url(../images/shared/btn-range.png) no-repeat;
    background-size: 148px 74px;
    left: 438px;
}
.btn-pos1{
    top: 327px;
}
.btn-pos2{
    top: 360px;
}
.polzunok-container-1 * {
    box-sizing: border-box;
    outline: none;
}
.polzunok-container-1 {
   top: 260px;
	left: 390px;
	width: 298px;
}
.polzunok-container-1 .ui-slider {
    position: relative !important;
    background: #e4e4e4;
    height: 6px;
    border-radius:4px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
	width: 100%;
}
.polzunok-container-1 .ui-slider .ui-slider-handle {
    position: absolute;
    padding-left: 40px;
	margin-left: -30px;
    text-align: center;
    line-height: 18px;
	height: 39px;
    cursor: pointer;
   
    top: -17px;
   
    z-index: 2;
    background: url(../images/shared/pin1.png);
	background-size: 40px 39px;
	border: none;
   
}
.polzunok-container-1 .ui-slider .ui-slider-handle b {
   position: absolute;
    top: -30px;
	left: 0px;
	font-size: 40px;
}

.polzunok-container-1 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 2px;
    display: block;
    border: 0;
    background: #909090;
    border-radius:10px;
}
.polzunok-container-1 .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.polzunok-container-1 .ui-slider-horizontal .ui-slider-range-max {
    right: 0;    
}

.btn-prev{
    width: 97px;
	height: 93px;
	background: url(../images/shared/btn-prev.png);
	background-size: 97px 93px;
	left: 30px;
	top: 720px;
	display: none;
}
.slide .btn-arrow{
    width: 34px;
    height: 34px;
    background: url(../images/global/green-button.png) no-repeat;
    background-size: 34px 34px;
    cursor: pointer;
}

.slide .menu{
    width: 156px;
    height: 44px;
    position: relative;
}
.slide .menu .menu-item{
    width: 34px;
    height: 34px;
}
.slide .menu  .menu-item1{
     background: url(../images/global/home.png) no-repeat;
     background-size: 34px 34px;
}
.slide .menu  .menu-item2{
     background: url(../images/global/reference.png) no-repeat;
     background-size: 34px 34px;
     left: 40px;
}
.slide .menu  .menu-item3{
     background: url(../images/global/notice.png) no-repeat;
     background-size: 34px 34px;
     left:80px;
}
.slide .menu  .menu-item4{
     background: url(../images/global/close.png) no-repeat;
     background-size: 34px 34px;
     left:120px;
}
.chart-item.green{
    background: linear-gradient(180.00deg, rgba(0, 71, 1, 1),rgba(0, 135, 75, 1) 100%);
}
.chart-item.red{
    background: linear-gradient(180.00deg, rgba(159.87, 4.77, 4.77, 1),rgba(255, 0, 0, 1) 100%);
}
.btn{
    border-radius: 20px;
     width: 54px;
    height: 54px;
    background-color: rgb(0, 135, 75);
    z-index: 22;
     background-size: 34px 34px;
    background-position: center;
    display: block;
    background-repeat: no-repeat;
}

.btn-prev{
    background-image: url(../images/global/prev-btn.png);
    left:50px;
    top:720px;    
}
.btn-next{
    background-image: url(../images/global/next-btn.png);
    left:1180px;
    top:720px;    
}
