
#slide10 .bg {
    background-image: url(../images/slide10/bg.png);
	background-size: 1280px 800px;
	left:0px;
	top:0px;
	width:1280px;
	height:800px;
}
#slide10 .title{
    width: 1193px;
    height: 160px;
    background: url(../images/slide10/title.png);
    background-size:1193px  160px;
    top: 30px;
    left: 80px;
}
#slide10 .item{
    width: 670px;
    left: 80px;
}
#slide10 .num1{
     width: 275px;
     background: url(../images/slide10/num1.png);
     background-size:275px 190px;
     height: 190px;
     top: 270px;
    left: 100px;
}
#slide10 .num2{
     width: 308px;
     background: url(../images/slide10/num2.png);
     background-size:308px 191px;
     height: 191px;
     top: 470px;
    left: 840px;
}
#slide10 .pulse{
     animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
}
#slide10  .airplane{
     width: 915px;
     height: 474px;
     background: url(../images/slide10/airplane.png);
     background-size:915px 474px;
     top:202px;
    left: 140px;
}
#slide10 .menu{
    top: 740px;
    left: 599px;
}
#slide10 .popup{
        width: 1280px;
        height: 800px;
        background-image: url(../images/slide10/popup.png);
        background-size: 1280px 800px;
        
        top: 0;
        cursor: pointer;
}