
#slide1 .bg {
    background-image: url(../images/slide1/bg.png);
	background-size: 1280px 800px;
	left:0px;
	top:0px;
	width:1280px;
	height:800px;
}
#slide1 .btn-arrow{
    top: 100px;
    left:650px;
}
#slide1 .text{
    background-image: url(../images/slide1/text.png);
	background-size: 211px 82px;
	left:0px;
	top:0px;
	width:211px;
	height:82px;
    top: 140px;
    left:650px;
}
#slide1 .packshoot{
    background-image: url(../images/slide1/packshoot.png);
	background-size: 318px 131px;
	left:0px;
	top:0px;
	width:318px;
	height:131px;
    top: 110px;
    left:870px;
}
#slide1 .item{
    width:349px;
	height:393px;
    background-size: 349px 393px;
}
#slide1 .item1{
    background-image: url(../images/slide1/doc1.png);
    top: 280px;
    left:100px;
}
#slide1 .item2{
    background-image: url(../images/slide1/doc2.png);
    top: 280px;
    left:480px;
}
#slide1 .item3{
    background-image: url(../images/slide1/doc3.png);
    top: 280px;
    left:850px;
}

#slide1 .menu{
    top: 740px;
    left: 599px;
}



