
#slide6 .bg {
    background-image: url(../images/slide6/bg.png);
	background-size: 1280px 800px;
	left:0px;
	top:0px;
	width:1280px;
	height:800px;
}
#slide6 .close{
    left: 1180px;
    top:60px;
}
#slide6 .chart{
    width:1114px;
    height:602px;
    background: url(../images/slide6/chart.png);
    background-size:1114px 602px;
    top: 0px;
    left: 40px;
    position: relative;
}
#slide6 .menu{
    top: 740px;
    left: 599px;
}
#slide6 .chart-item{
    width: 72px;
    top:170px;
    border-radius: 0px 0px 45px 45px;
}
#slide6 .chart-item1{
    height: 190px;
     left: 150px;
}
#slide6 .chart-item2{
    height: 90px;
    left: 222px;
}

#slide6 .chart-item3{
    height: 230px;
     left: 420px;
}
#slide6 .chart-item4{
    height: 130px;
    left: 492px;
}

#slide6 .chart-item5{
    height: 350px;
     left: 760px;
}
#slide6 .chart-item6{
    height: 210px;
    left: 832px;
}

#slide6 .btn-chart{
    width: 103px;
    height: 30px;
    top:590px;
    cursor: pointer;
}
#slide6 .btn-chart1{

    left: 220px;
}
#slide6 .btn-chart2{

    left: 473px;
}
#slide6 .btn-chart3{

    left: 843px;
}


#slide6 .chart .chart-num1{
    width:58px;
    height:33px;
    background: url(../images/slide6/num1.png);
    background-size:58px 33px;
    top:450px;
    left: 766px;
}
#slide6 .chart .chart-num2{
    width:62px;
    height:33px;
    background: url(../images/slide6/num2.png);
    background-size:62px 33px;
    top:319px;
    left: 836px;
}
#slide6 .menu{
    top: 740px;
    left: 599px;
}