
#slide9 .bg {
    background-image: url(../images/slide9/bg.png);
	background-size: 1280px 800px;
	left:0px;
	top:0px;
	width:1280px;
	height:800px;
}
#slide9 .close{
    left: 1180px;
    top:60px;
}
#slide9 .chart{
    width: 978px;
    height: 557px;
    background: url(../images/slide9/chart.png);
    background-size:978px 557px;
    top: 70px;
    left: 80px;
    position: relative;
}
#slide9 .chart-num1{
    width: 41px;
    height: 36px;
     background: url(../images/slide9/num-chart1.png);
    background-size:41px 37px;
    top:130px;
    left:329px;
}
#slide9 .chart-num2{
    width: 41px;
    height: 36px;
     background: url(../images/slide9/num-chart2.png);
    background-size:41px 36px;
    top:314px;
    left:483px;
}
#slide9 .line{
    width: 523px;
    height: 33px;
    background: url(../images/slide9/line.png);
    background-size:523px  33px;
    top: 14px;
    left: 103px;
    position: relative;
}
#slide9 .chart-item{
    width: 72px;
    border-radius:  90px 90px 0px 0px;
}
#slide9 .chart-item1{
    height: 295px;
    background: linear-gradient(180.00deg, rgba(4.77, 159.87, 28.03, 1) 0%,rgba(0, 255, 131.75, 1) 100%);
    top: 180px;
    left: 312px;
}
#slide9 .chart-wrapp{
    width: 72px;
    position: relative;
    height: 295px;
    top: 180px;
    left: 466px;
    overflow: hidden;
}
#slide9 .chart-item2{
    height: 295px;
   background: linear-gradient(180.00deg, rgba(0, 71, 1, 1) 0%,rgba(0, 135, 75, 1) 100%);
    animation: CHART-MOVE-DOWN 1500ms 1000ms forwards;
}
@keyframes CHART-MOVE-DOWN {    
    100% {
        transform: translateY(180px);
    }
}

#slide9 .name-chart1{
    width: 118px;
    height: 40px;
    background: url(../images/slide9/name-chart1.png);
    background-size:118px  40px;
    top: 600px;
    left: 370px
}
#slide9 .name-chart2{
    width: 118px;
    height: 40px;
    background: url(../images/slide9/name-chart2.png);
    background-size:118px  40px;
    top: 600px;
    left: 370px
}
#slide9 .name-chart2{
    width: 127px;
    height: 40px;
    background: url(../images/slide9/name-chart2.png);
    background-size:127px  40px;
    left: 520px;
}
























#slide9 .menu{
    top: 740px;
    left: 599px;
}
#slide9 .chart-title{
    width: 485px;
    height: 110px;
    background: url(../images/slide9/title-chart.png);
    background-size:485px   110px;
    left: 620px;
    top: 170px;
}





















