
#slide7 .bg {
    background-image: url(../images/slide7/bg.png);
	background-size: 1280px 800px;
	left:0px;
	top:0px;
	width:1280px;
	height:800px;
}
#slide7 .title{
    width: 978px;
    height: 97px;
    background: url(../images/slide7/title.png);
    background-size:978px 97px;
    top: 70px;
    left: 80px;
}
#slide7 .close{
    left: 1180px;
    top:60px;
}
#slide7 video {
    width: 790px;
    
    position: absolute;
    top: 195px;
    left: 221px;
    /* height: 800px; */
    background: #FFF;
}
#slide7 .menu{
    top: 740px;
    left: 599px;
}
