
#slide3 .bg {
    background-image: url(../images/slide3/bg.png);
	background-size: 1280px 800px;
	left:0px;
	top:0px;
	width:1280px;
	height:800px;
}
#slide3 .btn-arrow{
    top: 100px;
    left:650px;
}

#slide3 .item{
    width:568px;
	height:110px;
    background-size: 568px 110px;
    left:70px;
}
#slide3 .item1{
    background-image: url(../images/slide3/item1.png);
    top: 270px;
}
#slide3 .item2{
    background-image: url(../images/slide3/item2.png);
    top: 395px;
   
}
#slide3 .item3{
    background-image: url(../images/slide3/item3.png);
     top: 520px;
}

#slide3 .person{
    width:652px;
	height:734px;
    background-image: url(../images/slide3/person.png);
    background-size: 652px 734px;
    top:22px;
    left: 560px;
}
#slide3 .menu{
    top: 740px;
    left: 599px;
}



