
#slide12 .bg {
    background-image: url(../images/slide12/bg.png);
	background-size: 1280px 800px;
	left:0px;
	top:0px;
	width:1280px;
	height:800px;
}
#slide12 .title{
    width: 1193px;
    height:160px;
    background: url(../images/slide12/title.png);
    background-size:1193px 160px;
    top: 20px;
    left: 80px;
}

#slide12 .text1{
     width: 540px;
      height: 122px;
     background: url(../images/slide12/text1.png);
     background-size:540px 122px;
      top: 270px;
    left: 100px;
}
#slide12 .text2{
     width: 291px;
     height: 82px;
     background: url(../images/slide12/text2.png);
     background-size:291px 82px;
     top: 520px;
     left: 100px;
}
#slide12 .text3{
     width: 418px;
     height:120px;
     background: url(../images/slide12/text3.png);
     background-size:418px 120px;
     top: 270px;
    left: 760px;
}
#slide12 .text4{
     width: 305px;
     height:151px;
     background: url(../images/slide12/text4.png);
     background-size:305px 151px;
     top: 520px;
     left: 760px;
}
#slide12 .arrow{
     width:54px;
     height:166px;
     background: url(../images/slide12/arrow.png);
     background-size:54px 166px;
}
#slide12 .arrow.pos1{
    left: 630px;
    top: 260px;
}
#slide12 .arrow.pos2{
    left: 630px;
    top: 460px;
}






#slide12 .menu{
    top: 740px;
    left: 599px;
}