#slide14{
	width: 960px;
	height: 540px;

}
#slide14 .bg{
	width: 960px;
	height: 540px;
    background: url(../images/slide14/bg.png) no-repeat;
	background-size:960px   540px;
}


#slide14 .header{
    width: 301px;
    height: 54px;
	background: url(../images/slide14/header.png) no-repeat;
	background-size:301px    54px;
	left: 91px;
     top: 46px;
} 


#slide14 .item{
    width: 350px;
    height: 29px;
    left: 101px;
    
}
#slide14 .item1{
    top: 170px;
}
#slide14 .item2{
    top: 221px;
}
#slide14 .item3{
    top: 270px;
}
#slide14 .item4{
    top: 320px;
}


#slide14 .item1 .text{
    width: 610px;
    height: 36px;
	background: url(../images/slide14/text1.png) no-repeat;
	background-size:610px 36px;
	left: 29px;
    top: 2px;
}

#slide14 .item2 .text{
     width: 627px;
    height: 36px;
	background: url(../images/slide14/text2.png) no-repeat;
	background-size: 627px 36px;
	left: 29px;
    top: 2px;
}


#slide14 .item3 .text{
    width: 586px;
    height: 36px; 
	background: url(../images/slide14/text3.png) no-repeat;
	background-size:586px  36px;
	left: 29px;
    top: 2px;
}

#slide14 .item4 .text{
     width: 593px;
    height: 18px;
	background: url(../images/slide14/text4.png) no-repeat;
	background-size:593px 18px;
	left: 29px;
    top: 2px;
}


#slide14 .btn-reply{

    left: 108px;
    top: 389px;
}



#slide14 .modal-answer{
     width: 511px;
     height:472px;
     background: url(../images/slide14/modal-answer.png) no-repeat;
	 background-size:511px 472px;
     left: 468px;
     top: 144px;
     
}





