#slide5{
	width: 960px;
	height: 540px;
}

#slide5 .header{
	width: 588px;
    height: 57px;
	background: url(../images/slide5/header.png) no-repeat;
	background-size:588px 57px;
	left: 90px;
    top: 49px;
}

#slide5 .item{
    width: 350px;
    height: 29px;
    left: 101px;
    
}
#slide5 .item1{
    top: 164px;
}
#slide5 .item2{
    top: 204px;
}
#slide5 .item3{
    top: 244px;
}

#slide5 .item1 .text{
     width: 293px;
     height: 16px;
	background: url(../images/slide5/text1.png) no-repeat;
	background-size:293px 16px;
	left: 29px;
    top: 2px;
}
#slide5 .item2 .text{
     width: 551px;
     height: 16px;
	background: url(../images/slide5/text2.png) no-repeat;
	background-size:551px 16px;
	left: 29px;
    top: 2px;
}


#slide5 .item3 .text{
     width: 104px;
    height: 15px;
	background: url(../images/slide5/text3.png) no-repeat;
	background-size: 104px  15px;
	left: 29px;
    top: 2px;
}


#slide5 .btn-reply{

    left: 108px;
    top: 389px;
}



#slide5 .modal-answer{
     width: 592px;
     height: 546px;
     background: url(../images/slide5/modal-answer.png) no-repeat;
	 background-size:592px 546px;
     left: 360px;
     top: 227px;
   
}






