#slide3{
	width: 960px;
	height: 540px;
}
#slide3 .bg{
    width: 960px;
	height:  540px;
    background: url(../images/slide3/bg.png) no-repeat;
    background-size: 960px  540px;
}
#slide3 .header{
    width: 595px;
    height: 35px;
    background: url(../images/slide3/header.png) no-repeat;
    background-size:595px 35px;
    left: 89px;
    top: 46px;
}

#slide3 .title{
    width: 413px;
    height: 16px;
    background: url(../images/slide3/title.png) no-repeat;
    background-size:413px 16px;
    left: 291px;
    top: 108px;
}
#slide3 .image{
    width: 203px;
    height: 354px;
    background: url(../images/slide2/woman.png) no-repeat;
    background-size:203px  354px;
    left: 76px;
    top:103px;
}
#slide3 .icon1{
    width: 29px;
    height: 30px;
    background: url(../images/slide2/icon1.png) no-repeat;
    background-size: 29px  30px;
    left:  296px;
    top:140px;
    
}
#slide3 .text1{
     width: 453px;
    height: 136px;
    background: url(../images/slide3/text1.png) no-repeat;
    background-size:453px 136px;
     left: 344px;
     top: 147px;
}
#slide3 .icon2{
    width: 34px;
    height: 32px;
    background: url(../images/slide3/icon2.png) no-repeat;
    background-size:34px  32px;
    left: 296px;
    top: 297px;
    
}

#slide3 .text2{
    width: 330px;
    height: 16px;
    background: url(../images/slide3/text2.png) no-repeat;
    background-size: 330px  16px;
    left: 348px;
    top: 307px;
}


#slide3 .icon3{
    width: 25px;
    height: 25px;
    background: url(../images/slide3/icon3.png) no-repeat;
    background-size:25px 25px;
    left: 302px;
    top: 361px;
    
}

#slide3 .text3{
    width: 314px;
     height: 16px;
     background: url(../images/slide3/text3.png) no-repeat;
     background-size:314px   16px;
     left: 346px;
     top: 369px;
}



#slide3 .disc{
     width: 580px;
     height: 12px;
     background: url(../images/slide3/disc.png) no-repeat;
     background-size:580px  12px;
     left: 66px;
     top: 506px;
}








