#slide6{
	width: 960px;
	height: 540px;
}
#slide6 .bg{
	width: 960px;
    height: 540px;
	background: url(../images/slide6/bg.png) no-repeat;
	background-size:960px 540px;
}
#slide6 .header{
	width: 716px;
    height: 37px;
	background: url(../images/slide6/header.png) no-repeat;
	background-size:716px 37px;
	left: 92px;
    top: 52px;
}
#slide6 .table{
	width: 527px;
    height: 224px;
	background: url(../images/slide6/table.png) no-repeat;
	background-size:527px  224px;
	left: 217px;
    top: 127px;
}
#slide6 .text1{
	width: 633px;
    height: 31px;
	background: url(../images/slide6/text1.png) no-repeat;
	background-size:633px 31px;
	left: 143px;
    top: 372px;
}
#slide6 .disc{
	 width: 756px;
     height: 42px;
	background: url(../images/slide6/text2.png) no-repeat;
	background-size:756px 42px;
    left: 91px;
    top: 480px;
}




