#slide12{
	width: 960px;
	height: 540px;
    
}
#slide12 .bg{
    width: 960px;
    height: 540px;
    background: url(../images/slide12/bg.png) no-repeat;
    background-size:960px 540px;
}
#slide12 .header{
     width: 776px;
    height: 86px;
    background: url(../images/slide12/header.png) no-repeat;
    background-size:776px  86px;
    left: 86px;
    top: 30px;

}


#slide12 .title{
    width: 339px;
    height: 42px;
    background: url(../images/slide12/title.png) no-repeat;
    background-size: 339px  42px;
    left: 92px;
    top: 143px;
}

#slide12 .col-g{
    background-color: #60c05d;
}

#slide12 .col-gr{
    background-color: #c2c2c2;
}
#slide12 .col-o{
    background-color: #ffb72a;
}
#slide12 .b1{
    top: 398px;
    left:89px;
}
#slide12 .b2{
     top: 427px;
     left: 89px;
}
#slide12 .b3{
   top: 398px;
    left: 256px;
}
#slide12 .b4{
    top: 427px;
    left: 256px;
}
#slide12 .text1{
    width: 344px;
    height: 143px;
    background: url(../images/slide12/text1.png) no-repeat;
	background-size:  344px  143px;
    left: 498px;
    top: 151px;
}

#slide12 .text2{
    width: 403px;
    height: 126px;
    background: url(../images/slide12/text2.png) no-repeat;
	background-size:  403px 126px;
    left: 489px;
    top: 318px;
}

#slide12 .text3{
    width: 64px;
    height: 16px;
    background: url(../images/slide12/text3.png) no-repeat;
	background-size: 64px 16px;
    top: 395px;
     left:109px;
}
#slide12 .text4{
    width: 123px;
    height: 14px;
    background: url(../images/slide12/text4.png) no-repeat;
	background-size: 123px 14px;
    top: 425px;
    left:109px;
}
#slide12 .text5{
    width: 161px;
    height: 16px;
    background: url(../images/slide12/text5.png) no-repeat;
	background-size:  161px 16px;
     top: 396px;
    left: 282px;
}
#slide12 .text6{
    width: 151px;
    height: 16px;
    background: url(../images/slide12/text6.png) no-repeat;
	background-size:  151px 16px;
    top: 424px;
    left: 282px;
}

#slide12 .diogram{
    width: 276px;
    height: 179px;
    background: url(../images/slide12/diogram.png) no-repeat;
    background-size:276px 179px;
    left: 113px;
    top: 206px;

}




#slide12 .disc{
     width: 778px;
     height: 28px;
    background: url(../images/slide12/disc.png) no-repeat;
	background-size:778px 28px;
    left: 93px;
    top: 503px;
}


















