#slide4{
	width: 960px;
	height: 540px;
}
#slide4 .bg{
    width: 960px;
	height:  540px;
    background: url(../images/slide4/bg.png) no-repeat;
    background-size: 960px  540px;
}
#slide4 .header{
     width: 727px;
    height: 82px;
    background: url(../images/slide4/header.png) no-repeat;
    background-size:727px 82px;
    left: 93px;
     top: 53px;
}
#slide4 .bullit{
    left: 93px;
}
#slide4 .text1{
    width: 707px;
    height: 41px;
    background: url(../images/slide4/text1.png) no-repeat;
    background-size: 707px 41px;
    left: 120px;
    top: 172px;
}

#slide4 .b1{
     
  top: 178px;
}

#slide4 .text2{
    width: 734px;
    height: 44px;
    background: url(../images/slide4/text2.png) no-repeat;
    background-size:734px 44px;
    left: 120px;
    top: 234px;
}

#slide4 .b2{
     
  top: 241px;
}

#slide4 .text3{
    width: 710px;
    height: 44px;
    background: url(../images/slide4/text3.png) no-repeat;
    background-size:710px  44px;
    left: 120px;
    top: 297px;
}
#slide4 .b3{
     
   top: 305px;
}

#slide4 .text4{
    width: 745px;
    height: 65px;
    background: url(../images/slide4/text4.png) no-repeat;
    background-size:745px  65px;
    left: 120px;
    top: 361px;
}

#slide4 .b4{ 
  top: 367px;
}

#slide4 .disc{
     width: 648px;
     height: 9px;
     background: url(../images/slide4/disc.png) no-repeat;
     background-size:648px 9px;
     left: 94px;
     top: 511px;
}









