#slide15{
	width: 960px;
	height: 540px;
    
}
#slide15 .bg{
	width: 960px;
	height: 540px;
    background: url(../images/slide15/bg.png) no-repeat;
	background-size:960px   540px;
}


#slide15 .header{
    width: 518px;
    height: 62px;
    background: url(../images/slide15/header.png) no-repeat;
    background-size:518px 62px;
    left: 90px;
    top: 43px;
}

#slide15 .title1{
     width: 308px;
    height: 53px;
    background: url(../images/slide15/title1.png) no-repeat;
    background-size:308px 53px;
   left: 90px;
    top: 147px;
}
#slide15 .title2{
    width: 77px;
    height: 15px;
    background: url(../images/slide15/title2.png) no-repeat;
    background-size: 77px 15px;
    left: 90px;
    top: 228px;
}


#slide15 .text1{
    width: 387px;
    height: 56px;
    background: url(../images/slide15/text1.png) no-repeat;
    background-size:387px  56px;
    left: 90px;
    top: 265px;
}
#slide15 .text2{
     width: 419px;
    height: 76px;
    background: url(../images/slide15/text2.png) no-repeat;
    background-size:419px 76px;
    left: 90px;
     top: 348px;
}

#slide15  .desc-text1{
    width: 126px;
    height: 12px;
    background: url(../images/slide15/desc-text1.png) no-repeat;
    background-size:126px 12px;
    left: 571px;
    top: 188px;
}
#slide15  .desc-text2{
    width: 143px;
    height: 27px;
    background: url(../images/slide15/desc-text2.png) no-repeat;
    background-size:143px 27px;
    left: 556px;
    top: 232px;
}
#slide15  .desc-text3{
    width: 86px;
    height: 12px;
    background: url(../images/slide15/desc-text3.png) no-repeat;
    background-size: 86px 12px;
    left: 553px;
    top: 290px;
}
#slide15  .desc-text4{
    width: 133px;
    height: 12px;
    background: url(../images/slide15/desc-text4.png) no-repeat;
    background-size: 133px 12px;
    left: 568px;
    top: 339px;
}
#slide15 .line1{
    width: 101px;
    height: 61px;
    background: url(../images/slide15/line1.png) no-repeat;
    background-size: 101px 61px;
    left: 705px;
    top: 203px;
}
#slide15 .line2{
    width: 75px;
    height: 40px;
    background: url(../images/slide15/line2.png) no-repeat;
    background-size: 75px 40px;
    left: 705px;
    top: 252px;
}
#slide15 .line3{
     width: 41px;
    height: 5px;
    background: url(../images/slide15/line3.png) no-repeat;
    background-size: 41px 5px;
    left: 650px;
    top: 296px;
}
#slide15 .line4{
      width: 31px;
    height: 10px;
    background: url(../images/slide15/line4.png) no-repeat;
    background-size: 31px 10px;
    left: 711px;
  top: 334px;
}
#slide15 .m1{
    width: 26px;
    height: 31px;
    background: url(../images/slide15/m1.png) no-repeat;
    background-size:26px 31px;
    left: 694px;
    top: 283px;
}

#slide15 .m2{
    width: 960px;
    height: 540px;
    background: url(../images/slide15/m2.png) no-repeat;
    background-size:960px 540px;
   
}

#slide15 .logo{
    left: 775px;
    top: 18px;
}


#slide15 .disc{
     width: 762px;
    height: 12px;
    background: url(../images/slide15/disc.png) no-repeat;
    background-size:762px 12px;
    left:86px;
    top:500px;
}











