#slide16{
	width: 960px;
	height: 540px;
   
}
#slide16 .header{
    width: 563px;
    height: 37px;
    background: url(../images/slide16/header.png) no-repeat;
    background-size:563px 37px;
    left: 90px;
    top: 43px;
    
}
#slide16 .title1{
    width: 244px;
    height: 13px;
    background: url(../images/slide16/title.png) no-repeat;
    background-size:244px 13px;
    left: 85px;
    top: 148px;
    
}
#slide16 .text1{
     width: 230px;
    height: 52px;
    background: url(../images/slide16/text1.png) no-repeat;
    background-size:230px 52px;
    left: 87px;
    top: 173px;
    
}
#slide16 .title2{
    width: 241px;
    height: 32px;
    background: url(../images/slide16/title2.png) no-repeat;
    background-size:241px 32px;
    left: 88px;
    top: 251px;
    
}
#slide16 .text2{
    width: 259px;
    height: 92px;
    background: url(../images/slide16/text2.png) no-repeat;
    background-size:259px 92px;
    left: 88px;
    top: 295px;
}
#slide16 .text3{
    width: 145px;
    height: 49px;
    background: url(../images/slide16/text3.png) no-repeat;
    background-size:145px  49px;
    left: 458px;
    top: 289px;
}
#slide16 .text4{
    width: 72px;
    height: 34px;
    background: url(../images/slide16/text4.png) no-repeat;
    background-size:72px  34px;
    left: 650px;
    top: 331px;
}


#slide16 .item1{
    width: 249px;
    height: 35px;
    background: url(../images/slide16/item1.png) no-repeat;
    background-size:249px  35px;
    left: 520px;
    top: 118px;
}

#slide16 .line1{
    width: 4px;
    height: 19px;
    background: url(../images/slide16/arrow1.png) no-repeat;
    background-size:4px  19px;
    left: 567px;
    top: 152px;
    
}
#slide16 .line2{
    width: 4px;
    height: 19px;
    background: url(../images/slide16/arrow1.png) no-repeat;
    background-size:4px  19px;
    left: 717px;
    top: 152px;
    
}
#slide16 .item2{
    width: 201px;
    height: 55px;
    background: url(../images/slide16/item2.png) no-repeat;
    background-size:201px  55px;
    left: 428px;
    top: 170px;
}
#slide16 .item3{
    width: 204px;
    height: 54px;
    background: url(../images/slide16/item3.png) no-repeat;
    background-size:204px 54px;
    left: 649px;
    top: 170px;
}

#slide16 .m{
    width: 102px;
    height: 49px;
    background: url(../images/slide16/m.png) no-repeat;
    background-size:102px 49px;
    left: 479px;
    top: 230px;
}

#slide16 .line4{
    width: 5px;
    height: 166px; 
    background: url(../images/slide16/arrow2.png) no-repeat;
    background-size:5px 166px; 
    left: 614px;
    top: 224px;
    
}
#slide16 .line3{
    width: 5px;
    height: 166px; 
    background: url(../images/slide16/arrow2.png) no-repeat;
    background-size:5px 166px; 
    left: 438px;
    top: 224px;
    
}
#slide16 .item3{
    width: 142px;
    height: 54px;
    background: url(../images/slide16/item6.png) no-repeat;
    background-size:142px 54px;
    left: 372px;
     top: 390px;
}



#slide16 .item4{
   width: 187px;
   height: 55px;
    background: url(../images/slide16/item7.png) no-repeat;
    background-size:187px 55px;
    left: 522px;
    top: 390px;
}

#slide16 .item5{
    width: 204px;
    height: 54px;
    background: url(../images/slide16/item3.png) no-repeat;
    background-size:204px 54px;
    left: 649px;
    top: 170px;
}
#slide16 .item6{
    width: 204px;
    height: 59px;
    background: url(../images/slide16/item3.png) no-repeat;
    background-size:204px 59px;
    left: 649px;
    top: 170px;
}


#slide16 .line5{
    width: 4px;
    height: 13px;
    background: url(../images/slide16/arrow1.png) no-repeat;
    background-size:4px  13px;
    left: 687px;
     top: 229px;
    
}
#slide16 .line6{
    width: 4px;
    height: 13px;
    background: url(../images/slide16/arrow1.png) no-repeat;
    background-size:4px  13px;
    left: 807px;
    top: 229px;
    
}
#slide16 .item7{
    width: 97px;
    height: 79px;
    background: url(../images/slide16/item4.png) no-repeat;
    background-size:97px 79px;
    left: 649px;
    top: 242px;
}
#slide16 .item8{
    width: 123px;
    height: 115px;
    background: url(../images/slide16/item5.png) no-repeat;
    background-size:123px 115px;
    left: 759px;
    top: 242px;
}

#slide16 .line7{
    width: 5px;
    height: 69px;
    background: url(../images/slide16/arrow3.png) no-repeat;
    background-size:5px  69px;
    left: 727px;
     top: 321px;
    
}
#slide16 .line8{
    width: 4px;
    height: 33px;
    background: url(../images/slide16/arrow4.png) no-repeat;
    background-size: 4px  33px;
    left: 811px;
    top: 357px
    
}

#slide16 .item9{
    width: 157px;
    height: 54px;
    background: url(../images/slide16/item8.png) no-repeat;
    background-size:157px  54px;
    left: 717px;
    top: 390px;
}
#slide16 .logo{
    left: 775px;
    top: 18px;
}

#slide16 .disc{
    width: 770px;
    height: 12px;
    background: url(../images/slide16/disc.png) no-repeat;
    background-size: 770px  12px;
    left: 86px;
    top: 506px;
}


















