#slide13{
	width: 960px;
	height: 540px;
}
#slide13 .bg{
    width: 960px;
    height: 540px;
    background: url(../images/slide13/bg.png) no-repeat;
    background-size:960px 540px;
}
#slide13 .header{
	width: 603px;
    height: 77px;
	background: url(../images/slide13/header.png) no-repeat;
	background-size:603px  77px;
	left: 87px;
    top: 51px;
}


#slide13 .item{
    width: 350px;
    height: 29px;
    left: 101px;
    
}
#slide13 .item1{
    top: 170px;
}
#slide13 .item2{
    top: 200px;
}
#slide13 .item3{
    top: 230px;
}
#slide13 .item4{
    top: 260px;
}
#slide13 .item5{
    top: 294px;
}
#slide13 .item6{
    top: 170px;
    left: 501px;
}
#slide13 .item7{
  top: 200px;
     left: 501px;
}
#slide13 .item8{
    top: 230px;
     left: 501px;
}
#slide13 .item9{
     top: 260px;
     left: 501px;
}
#slide13 .item10{
   top: 294px;
     left: 501px;
}


#slide13 .item1 .text{
     width: 271px;
    height: 16px;
	background: url(../images/slide13/text1.png) no-repeat;
	background-size:271px 16px;
	left: 29px;
    top: 2px;
}

#slide13 .item2 .text{
     width: 93px;
    height: 15px;
	background: url(../images/slide13/text2.png) no-repeat;
	background-size: 93px 15px;
	left: 29px;
    top: 2px;
}
#slide13 .item3 .text{
    width: 132px;
    height: 13px;
	background: url(../images/slide13/text3.png) no-repeat;
	background-size:132px 13px;
	left: 29px;
    top: 2px;
}

#slide13 .item4 .text{
     width: 91px;
    height: 14px;
	background: url(../images/slide13/text4.png) no-repeat;
	background-size: 91px 14px;
	left: 29px;
    top: 2px;
}


#slide13 .item5 .text{
    width: 80px;
    height: 17px;
	background: url(../images/slide13/text5.png) no-repeat;
	background-size:80px  17px;
	left: 29px;
    top: 2px;
}

#slide13 .item6 .text{
    width: 142px;
    height: 15px;
	background: url(../images/slide13/text6.png) no-repeat;
	background-size:142px  15px;
	left: 29px;
    top: 2px;
}
#slide13 .item7 .text{
    width: 151px;
    height: 15px;
	background: url(../images/slide13/text7.png) no-repeat;
	background-size:151px  15px;
	left: 29px;
    top: 2px;
}
#slide13 .item8 .text{
    width: 164px;
    height: 15px;
	background: url(../images/slide13/text8.png) no-repeat;
	background-size:164px  15px;
	left: 29px;
    top: 2px;
}
#slide13 .item9 .text{
    width: 59px;
    height: 15px;
	background: url(../images/slide13/text9.png) no-repeat;
	background-size:59px  15px;
	left: 29px;
    top: 2px;
}
#slide13 .item10 .text{
    width: 224px;
    height: 16px;
	background: url(../images/slide13/text10.png) no-repeat;
	background-size: 224px  16px;
	left: 29px;
    top: 2px;
}


#slide13 .btn-reply{

    left: 108px;
    top: 389px;
}



#slide13 .modal-answer{
     width: 714px;
     height: 561px;
     background: url(../images/slide13/modal-answer.png) no-repeat;
	 background-size:714px 561px;
     left: 248px;
     top: 144px;
     
}






