#slide14{
  width: 100%;
  height: 100%;
}
#slide14 div{
	position: absolute;
}
#slide14 .bg{
	width: 100%;
	height: 100%;
	background: url(../images/slide14/bg.png) no-repeat;
	background-size: 960px 540px;
}
#slide14 .label{
	 width: 158px;
  	 height: 51px;
	top: 31px;
     left:0;
	right: 0;
	margin: auto; background:url(../images/slide14/label.png) no-repeat;
	background-size: 158px 51px;
	opacity: 0;
	animation: showSlide14 0.500s 0.300s forwards;
}
#slide14 .header{
	width: 319px;
	height: 28px;
	background:url(../images/slide14/header.png) no-repeat;
	background-size: 319px 28px;
	top: 120px;
	left: 320px;
	opacity: 0;
	animation: showSlide14 0.500s 0.400s forwards;
}


#slide14 .question-filed{
	width: 650px;
	height: 50%;
	top: 188px;
	left: 0px;
	right: 0;
	margin: auto;
}
#slide14 .item1{
     width: 650px;
     height: 44px;
 	background:url(../images/slide14/question1.png) no-repeat 16px 8px;
	 background-size: 103px  25px;
	 box-shadow: 0 0 8px 6px #eadbcd;
	 border-radius: 2px;
	animation: showSlide14 0.500s 0.500s forwards;
	opacity: 0;
}


#slide14 .item2{
     width: 650px;
     height: 44px;
 	 top: 55px;
    background:url(../images/slide14/question2.png) no-repeat 16px 8px;
	 background-size:528px  26px;
	 box-shadow: 0 0 8px 6px #eadbcd;
	 border-radius: 2px;
	animation: showSlide14 0.500s 0.600s forwards;
	opacity: 0;
}

#slide14 .item3{
     width: 650px;
     height: 59px;
 	 top: 110px;
	background:url(../images/slide14/question3.png) no-repeat 16px 8px;
	 background-size:410px 41px;
	 box-shadow: 0 0 8px 6px #eadbcd;
	 border-radius: 2px;
	animation: showSlide14 0.500s 0.700s forwards;
	opacity: 0;
}
#slide14 .dot{
	width: 26px;
	height: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #9b9b9b;
	border-radius: 120px;
}
#slide14 .item1  .dot{
	top: 9px;
	left: 14px;
}

#slide14 .item2  .dot{
	top: 7px;
	left: 14px;
}
#slide14 .item3  .dot{
	top: 7px;
	left: 14px;
}
#slide14 .dot .bullit{
	width: 18px;
	height: 18px;
	position: inherit;
	background-color: #ff6f00;
	border-radius: 120px;
}
#slide14 .no-active>.dot>.bullit{
	
	background-color: transparent;
	
}
#slide14 .disc{
	top: 506px;
	left: 26px;
	width: 575px;
	height: 12px;
	background: url(../images/slide14/disc.png) no-repeat;
	background-size: 575px 12px;
	z-index: 3;
}
#slide14 .true_answer{
	 background:url(../images/slide14/question-true.png) no-repeat 59px 8px;
	 background-size:375px 37px;
	box-shadow: 0 0 8px 6px #deefd9;
}

#slide14 .false_answer{
	
	box-shadow: 0 0 8px 6px #edd3d3;
}





@keyframes showSlide14{
	0%{
		
		
	}
	100%{
		opacity: 1;
	}
	
}