#slide22{
  width: 100%;
  height: 100%;
}
#slide22 div{
	position: absolute;
}
#slide22 .info-block{
	width: 712px;
	height: 540px;
	background: url(../images/slide22/ellipse.png) no-repeat;
	background-size:712px 540px;
	z-index: 2;
}
#slide22 .header{
	width: 177px;
	height: 23px;
	background: url(../images/slide22/header.png) no-repeat;
	background-size: 177px 23px;
	top: 89px;
	left: -100%;
	animation: 	moveSlide22 0.500s 0.300s forwards;
}




#slide22 .item1{
	 width: 457px;
  	 height: 149px;
	background: url(../images/slide22/list-item1.png) no-repeat;
	background-size:457px 149px;
     top: 172px;
	left: -100%;
	animation: 	moveSlide22 0.500s 0.400s forwards;
	
}



#slide22 .item2{
	width: 456px;
     height: 59px;
	background: url(../images/slide22/list-item2.png) no-repeat;
	background-size: 456px 59px;
	top: 353px;
	left: -100%;
	animation: 	moveSlide22 0.500s 0.500s forwards;
}



#slide22 .disc{
	top: 506px;
	left: 26px;
	width: 575px;
	height: 12px;
	background: url(../images/slide22/disc.png) no-repeat;
	background-size: 575px 12px;
	z-index: 3;
}

#slide22 .image-block{
	width: 665px;
	height: 540px;
	background: url(../images/slide22/leg.png) no-repeat;
	background-size: 665px 540px;
	left: 295px;
}
@keyframes moveSlide22{
	0%{
		
		
	}
	100%{
		left: 168px;
	}
	
}