/* screen - u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 */

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 {
  align-items: flex-start;
  background-color: var(--white-ffffff100);
  display: flex;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .content {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .product {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .about-product {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .offer {
  align-items: center;
  background-color: var(--black-0b0b0b100);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .expires-feb-04-2024 {
  color: var(--white-ffffff100);
  font-style: italic;
  font-weight: 500;
  line-height: 15.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-or-video {
  position: relative;
  max-width:500px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame-223 {
  display:flex;
  gap: 10px;
  right: 0;
  left:0;
  top:20px;
  width:224px;
  text-align: center;
  justify-content: center;
  padding: 10px 0px;
  margin: auto;
  position: absolute !important;
}
.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .x000-cost-i-000-shipping {
  color: var(--white-ffffff100);
  font-style: italic;
  font-weight: 500;
  line-height: 15.4px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .x297422 {
  height: 137px;
  position: relative;
  width: 338px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .slider {
  align-items: center;
  background-color: var(--white-ffffff50);
  border-radius: 20px;
  display: flex;
  height: 2px;
  position: relative;
  width: 100px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .rectangle {
  background-color: var(--white-ffffff100);
  border-radius: 20px;
  height: 2px;
  position: relative;
  width: 50px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .question {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 10px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .have-you-received-this-gift-before {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .have-you-already-bou {
  color: var(--black-0b0b0b100);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 327px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .variants {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button {
  align-items: center;
  border: 1px solid;
  border-color: var(--black-0b0b0b100);
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  padding: 14px 25px;
  position: relative;
  width: 122px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .sample-text-1 {
  color: var(--black-0b0b0b100);
  line-height: 22.1px;
  margin-top: -0.50px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button-1 {
  margin-bottom: -1.50px;
  width: 123.0px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .sample-text {
  color: var(--white-ffffff100);
  font-weight: 500;
  line-height: 22.1px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .customer-reviews {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 0px 0px;
  position: relative;
  max-width: 480px;
  width: 95%;
  margin: auto;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .reviews {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .review-1 {
  margin-top: -1.00px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-1 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .name {
  color: var(--black-0b0b0b100);
  font-weight: 500;
  line-height: 17.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .date {
  color: var(--useddark-gray);
  font-weight: 400;
  line-height: 13.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .rating {
  flex: 0 0 auto;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .surname {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img {
  height: 120px;
  object-fit: cover;
  position: relative;
  width: 120px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .review {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white-ffffffall-graye6);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 20px 15px;
  position: relative;
  width:100%;
  margin: auto;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-2 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-3 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .this-is-the-best-gif {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-4 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-5 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .i-think-i-love-valen {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-6 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-7 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .smells-amazing-its {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-8 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-9 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .bought-this-set-for {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-10 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-11 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .vn {
  color: var(--black-0b0b0b100);
  font-weight: 500;
  line-height: 17.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .one-of-my-fav-cologn {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-12 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-13 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .i-am-absolutely-obse {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .review-2 {
  margin-bottom: -1.00px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-14 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-15 {
  display: inline-flex;
  gap: 4px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .light-sweet-fragranc {
  align-self: stretch;
  color: var(--black-0b0b0b80);
  font-weight: 400;
  line-height: 18.2px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .get {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 0px 0px;
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: auto;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button-2 {
  align-self: stretch;
  flex: 0 0 auto;
  margin-left: -1.50px;
  margin-right: -1.50px;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .our-organization-ask {
  color: var(--black-0b0b0b60);
  font-weight: 400;
  line-height: 15.6px;
  position: relative;
  text-align: center;
  width:100%;
  padding-bottom: 20px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .footer {
  align-items: flex-start;
  background-color: var(--black-0b0b0b100);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 30px 10px;
  position: relative;
  width: 390px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame-1 {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .privacy-policy {
  color: var(--white-ffffff60);
  cursor: pointer;
  font-weight: 400;
  line-height: 18.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .contact-us {
  color: var(--white-ffffff60);
  font-weight: 400;
  line-height: 18.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .view {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .deals-coupons-free {
  align-self: stretch;
  color: var(--useddark-gray);
  font-weight: 400;
  line-height: 15.6px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button_-disclaimer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .sample-text-2 {
  color: var(--useddark-gray);
  line-height: 18.2px;
  margin-top: -1.00px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .buttons-button-3 {
  align-items: center;
  background-color: var(--black-0b0b0b100);
 border: 1px solid var(--black-0b0b0b100) !important;
  border: 1px solid;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: -1.50px;
  padding: 14px 25px;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .frame-2 {
  align-items: center;
  flex: 0 0 auto;
  position: relative;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .img-4 {
  height: 120px;
  object-fit: cover;
  position: relative;
  width: 120px;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .name-7 {
  color: var(--black-0b0b0b100);
  font-weight: 500;
  line-height: 17.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .review-3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white-ffffffall-graye6);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 20px 15px;
  position: relative;
  width:100%;
  margin: auto;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .sample-text-3 {
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1089-u1082u1086u1084u1084u1077u1085u1090u1072u1088u1080u1103u1084u1080 .txt-16 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
