*{
	box-sizing:border-box;
}
.flex{
    display: flex;
}
.vert-c{
   justify-content: center;
   gap:20px;
   padding-right: 100px;
}
.vert-bet{
     justify-content: space-between;
}
.wrapper{
	width: 90%;
	margin: auto;
}
.col-image{
    width:40%;
	background-color: #E6EBF2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.col-desc{
    width: 45%;
    flex-direction: column;
    gap:20px;
}
.single-prod__image{
    width:60%;
}
.single-prod__image-mobile{
    width: 100%;
	background-color: #E6EBF2;
	display: none;
    
}
.single-prod__image-mobile .single-prod__image{
	width: 100%;
	padding: 30px;
	display: block;
}
.single-prod__title{
    font-size: 2.1rem;
    text-transform: uppercase;
}
.single-prod__text-desc{
    font-size:1rem;
    line-height: 19px;
 
}
.single-prod__cats{
    width: 100%;
    gap:20px;
}
.single-prod__item {
    font-size: 1.54rem;
    padding: 5px 31px;
    color: #ffffff;
    background: url(../img/icons/icon-arrow.svg) no-repeat 96% 3px;
    background-color: #039;
}
.single-prod__table-info{
    padding: 120px 0px;
}
.single-prod__table-info .wrapper{
    justify-content: space-between;
}
.single-prod__table-title{
    color: #004990;
   font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: 700;
}
.single-prod__table-col-l{
    width:40%;
    flex-direction: column;
    gap:20px;
}
.single-prod__table-col-r{
     width: 45%;
    flex-direction: column;
    gap:20px;
}
.single-prod__table-col-r .single-prod__table-title{
	padding: 5px 0px;
}


.single-prod__table{
    width:100%;
}
.table-border-v1{
	
	border: 1px solid #DEDFE0;
	border-top:none;
	background-color:#E6EBF2;

}
.table-border-v1:nth-child(2n){
	background-color: #ffffff;
}
.table-border-v1:first-child{
	background-color: #EE3129;
	border-top: 1px solid #DEDFE0;
	padding: 5px 15px;
}
.table-border-v1 .single-prod__table-title{
	   font-size: 2.1rem;
     color: #ffffff;
	 font-weight: 700;
	 text-transform: uppercase;
}
.table-border-v2{
    border: 1px solid #E6EBF2;
    border-top: none;
}
.table-border-v2:first-child{
    border: 1px solid #E6EBF2;
	  padding: 15px;
}

.single-prod__table-row{
    justify-content: space-between;
    padding: 15px ;
}
.row-image{
    background: url(img/icons/icon-arrow2.png) no-repeat top right;
    
}
.row-image{
    background: url(../img/icons/icon-arrow2.png) no-repeat top right;
    
}
.single-prod__table-name,
.single-prod__table-val{
    font-size:1rem;
}
.table-border-v1{
	padding: 0px;
}
.table-border-v1 .single-prod__table-name{
	padding:15px 0px 15px 15px;;
}
.table-border-v1 .single-prod__table-val{
		border-left: 1px solid #DEDFE0;
	    padding:15px 0px;
	   
}
.single-prod__table-val{
	text-align: center;
	display: block;
	width: 15%;
}
.other-prods{
    padding: 90px 0px;
}
.other-prods__block{
    flex-direction: column;
    gap:40px;
}
.other-prods__title{
   font-size: 2rem;
    color: #111820;
    font-weight: 700;
    line-height: 30px;
   text-transform: uppercase;
}
.other-prods__wrapp{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 30px;
}

.other-prods__card{
    background: #E6EBF2;
    padding: 30px 0px;
}

.other-prods__card-image{
    display: block;
    margin: auto;
}
.other-prods__card-image{
    width: 60%;
}
.other-prods__card-title{
    font-size: 2.4rem;
    font-weight: 700;
    display: block;
    text-align: center;
}


@media screen and (max-width:1180px){
    html{
        font-size: 7px;
    }
    .vert-c{
        padding-right: 40px;
    }
    
}

@media screen and (max-width:1180px){
    html{
        font-size: 7px;
    }
    .vert-c{
        padding-right: 40px;
    }
    
}

@media screen and (max-width:860px){
    .vert-c{
        padding-right: 0px;
    }
	.single-prod__title{
		font-size: 3.2rem;
	}
    .single-prod__image {
        width: 100%;
    }
    .single-prod__main-card .wrapper{
        flex-direction: column;
        gap:20px;
    }
    .single-prod__table-info .wrapper{
        flex-direction: column;
        gap:20px;
    }
	.single-prod__text-desc,.single-prod__table-name, .single-prod__table-val{
		font-size:1.6rem;
		line-height: 19px;
	}
	.table-border-v1 .single-prod__table-title,.single-prod__table-title{
		font-size: 2rem;
	}
    .wrapper>*{
        width: 100%;
    }
    .single-prod__image-mobile{
        display: block;
    }
    .desctop-elem{
        display: none;
    }
    .vert-bet{
        gap:20px;
    }
    .single-prod__cats{
        justify-content: center;
    }
    .single-prod__table-info{
        padding: 47px 0px;
    }
    .single-prod__table-col-l{
        width: 100%;
    }
    .other-prods{
        padding: 20px 0px;
    }
    .other-prods__block{
        gap:20px;
    }
    .other-prods__title{
        font-size: 2.5rem;
        line-height: 27px;
    }
    .other-prods__wrapp{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
    }
}

.popup{
	width: 100%;
	height: 100%;
	background-color: rgba(000,000,000,.6);
	position: fixed;
	overflow: hidden;
}

.popup__wrapp{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup__form{
	background-color: #ffffff;
	width: 800px;
	height: 670px;
	margin: auto;
	padding: 80px 70px 80px;
	position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.popup__form::-webkit-scrollbar {
  width:8px;           
}
.popup__form::-webkit-scrollbar-track {
  background: #ffffff;    
}
.popup__form::-webkit-scrollbar-thumb {
   background-color:#004A8F;   
}

.popup__close{
	width: 21px;
	height: 21px;
	position: absolute;
	right:50px;
	top:30px;
	cursor: pointer;
}
.popup__form span{
	display: block;
}
.popup__form-title{
	font-size:28px;
	text-transform: uppercase;
	line-height: 30px;
	color: #111820;
	margin-bottom: 10px;
	font-weight: 700;
}
.popup__text{
	font-size:16px;
	line-height: 23px;
	color: #111820;
	font-weight: 400;
}
.popup__form form{
	display: flex;
	flex-direction: column;
	gap:20px;
}
.popup__fields{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap:20px;
}
.popup__field-full{
	width: 100%;
}
.popup__field-half{
	width: 48%;
}
.popup__label{
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #111820;
	margin-bottom: 10px;
	font-weight: 400;
	
}
.popup__field-input{
	width: 100%;
	border: 1px solid #A7A9AC;
	padding: 10px;
	font-size: 18px;
	outline:none;
}
.popup__field-input::placeholder{
	color: #A7A9AC;
}
.popup__field-message{
	width: 100%;
}
.popup__field-textarea{
	width: 100%;;
	display: block;
	border: 1px solid #A7A9AC;
	padding: 10px 10px 40px 10px;
	font-size: 18px;
	outline:none;
	resize: none;
}
.popup__politic-send{
	width: 100%;
}
.popup__btn-send{
	width: 100%;
	padding: 12px 0px;
	font-size: 18px;
	border: 1px  solid #0082D0;
	background-color: #0082D0;
	color: #ffffff;
}
.popup__politic{
	color: #A7A9AC;
	font-size: 14px;
	display: block;
}

.popup__politic-send{
	display: flex;
	flex-direction: column;
	gap:10px;
}



@media screen and (max-width:900px){
	.popup__form{
		width: 80%;
		padding: 80px 30px 80px;
	}
}

@media screen and (max-width:720px){
	.popup__field-full{
	width: 100%;
	}
	.popup__field-half{
		width: 47.6%;
	}
	
}
@media screen and (max-width:656px){
	.popup__form{
		width: 80%;
		padding: 80px 30px 80px;
	}
	.popup__field-half{
		width:100%;
	}
	.popup__form::-webkit-scrollbar {
  		width:4px;           
	}
	.popup__close{
		right: 20px;
	}
}
















