#slide14{
	width: 960px;
	height: 540px;
}

#slide14 .header{
	width:810px;
    height: 109px;
	background: url(../images/slide14/header.png) no-repeat;
	background-size:810px 109px;
	left: 64px;
    top: 186px;
}








