#slide1{
	width: 960px;
	height: 540px;
}
#slide1  .header{
    width:566px;
    height:79px;
    background: url(../images/slide1/header.png) no-repeat;
    background-size:566px 79px;
    left:63px;
    top: 259px;
}   
#slide1 .line{
    width:159px;
    left:63px;
    top: 179px;
}

