#slide17{
	width: 960px;
	height: 540px; 
}

#slide17 .header{
	 width: 549px;
    height: 28px;
	background: url(../images/slide17/header.png) no-repeat;
	background-size:549px 28px;
	left: 64px;
    top: 47px;
}
#slide17 .line{
    width: 160px;
    left: 64px;
    top:86px;
}
#slide17 .border{
  background-color: rgba(255, 255, 255, 0.569);
  box-shadow: 0px 0px 6px 0px rgba(3, 0, 58, 0.1);
  left: 64px;
  top: 112px;
  width: 769px;
  height: 415px;
}

#slide17 .item{
    width: 756px;
    height: 29px;
    left:82px;
}
#slide17 .item1{
    top: 125px;
}
#slide17 .item2{
 top: 154px;
}
#slide17 .item3{
   top: 184px;
}
#slide17 .item4{
    top: 212px;
}
#slide17 .item5{
     top: 243px;
}
#slide17 .item6{
     top: 273px;
}
#slide17 .item7{
     top: 304px;
}
#slide17 .item8{
     top: 333px;
}
#slide17 .item9{
    top: 365px;
}
#slide17 .item10{
   top: 393px;
}
#slide17 .item11{
  top: 425px;
}
#slide17 .item1 .text{
     width: 400px;
    height: 16px;
	background: url(../images/slide17/text1.png) no-repeat;
	background-size:400px   16px;
	left: 29px;
    top: 2px;
}
#slide17 .item2 .text{
    width: 314px;
    height: 16px;
	background: url(../images/slide17/text2.png) no-repeat;
	background-size:314px 16px;
	left: 29px;
    top: 2px;
}
#slide17 .item3 .text{
    width: 253px;
    height: 16px;
	background: url(../images/slide17/text3.png) no-repeat;
	background-size:253px  16px;
	left: 29px;
    top: 2px;
}

#slide17 .item4 .text{
    width: 426px;
    height: 17px;
	background: url(../images/slide17/text4.png) no-repeat;
	background-size:426px  17px;
	left: 29px;
    top: 2px;
}


#slide17 .item5 .text{
     width: 340px;
    height: 16px;
	background: url(../images/slide17/text5.png) no-repeat;
	background-size:340px 16px;
	left: 29px;
    top: 2px;
}
#slide17 .item6 .text{
    width: 193px;
    height: 17px;
	background: url(../images/slide17/text6.png) no-repeat;
	background-size:193px 17px;
	left: 29px;
    top: 2px;
}


#slide17 .item7 .text{
    width: 229px;
    height: 17px;
	background: url(../images/slide17/text7.png) no-repeat;
	background-size:229px 17px;
	left: 29px;
    top: 2px;
}
#slide17 .item8 .text{
    width: 168px;
    height: 17px;
	background: url(../images/slide17/text8.png) no-repeat;
	background-size:168px 17px;
	left: 29px;
    top: 2px;
}

#slide17 .item9 .text{
    width: 209px;
    height: 17px;
	background: url(../images/slide17/text9.png) no-repeat;
	background-size:209px 17px;
	left: 29px;
    top: 2px;
}
#slide17 .item10 .text{
    width: 124px;
    height: 17px;
	background: url(../images/slide17/text10.png) no-repeat;
	background-size:124px 17px;
	left: 29px;
    top: 2px;
}


#slide17 .item11 .text{
    width: 124px;
    height: 16px;
	background: url(../images/slide17/text11.png) no-repeat;
	background-size:124px 16px;
	left: 29px;
    top: 2px;
}

#slide17 .btn-reply{
    top:455px;
    left: 371px;
}

#slide17 .modal-answer{
     width: 769px;
    height:  421px;
     background: url(../images/slide17/answer.png) no-repeat;
	 background-size:769px  421px;
     left: 59px;
      top: 101px;
    
}



