@media screen and (max-width:1880px){
    .banner__prod-data{
        width: 1500px;
    }
    .banner__prod-data-item.pos1{
        top:79%;
        left: -99px;
    }

    .banner__prod-data-item.pos2{
        top:97%;
        left: 540px;
    }
    .banner__prod-data-item.pos3{
        top:88%;
        right: -120px;
    }
}
@media screen and (max-width:1750px){
    .banner__prod-data-item.pos1{
        top:83%;
        left: 115px;
    }

    .banner__prod-data-item.pos2{
        top:106%;
        left: 540px;
    }
    .banner__prod-data-item.pos3{
        top:96%;
        right: 110px;
    }
    .banner__prod-data-item {
        
        width: 330px;
    }
    .banner__prod-data-item .banner__prod-data-item-border{
        position: absolute;
        left: 0;
    }
    .banner__content{
       
    }

    .banner__prod-data-item-line{
        width: 2px;
        display: none;
    }
}
@media screen and (max-width:1550px){
    .banner__prod-data-point.point1{
        top: 81%;
    }
    .banner__prod-data-point.point2 {
        top: 95%;
        left: 110px;
    }
    .banner__prod-data{
        width:1200px;
    }
    .banner__prod-data-item.pos1{
        top: 92%;
        left: 3%;
    }

    .banner__prod-data-item.pos2{
        top:108%;
        left:39%;
    }
    .banner__prod-data-item.pos3{
        top:100%;
        right: 0%;
    }
}
@media screen and (max-width:1220px){
    .banner__prod-data{
        width:1000px;
    }
    .banner__prod-data-wrapp{
        width: 55%
    }
    .banner__prod-data-item.pos1{
        top: 92%;
        left:-7%;
    }

    .banner__prod-data-item.pos2{
        top: 105%;
        left: 34%;
    }
    .banner__prod-data-item.pos3{
        top:100%;
        right: -6%;
    }
}
@media screen and (max-width:1220px){

    .banner__nav{
        display: none;
    }
    .banner__nav-mob{
        display: block;
    }
    .banner__prod-data-item{
        display: none;
    }
    .desctop-item{
        display: none;
    }
    .banner__prod-data-mob{
        display: block;
    }
    .banner__content-comments{
        flex-direction: column;
    }
    .banner__content-comment-item.comment-right {
        align-items: flex-start;
    }
    .banner__content-comment-item.comment-right .banner__content-comment-txt {
        text-align: left;
    }
    .banner__content-comment-txt{
        margin-bottom: 10px;
    }
    .banner__content-comment-item{
        width: 100%;
    }
    .banner__content-comment-item.comment-right .banner__content-comment-info{
        flex-direction: row-reverse;
    }
    .banner__content{
        gap:20px;
    }
    .banner__content-info{
        flex-direction: column;
        gap:20px;
    }
    .banner__content-info-left{
        width: 100%;

    }
    .banner__content-info-r{
        width: 100%;
        padding: 15px 10px;;
    }
    .banner__content-comments{
        padding-bottom: 30px;
        gap:20px;
    }
    .banner__content-info{
        padding: 20px 0px;
    }
}
@media screen and (max-width:470px){
    .mob-line{
        width: 95%;
        border-radius: 100%;
        height:2px;
        background-color:  rgba(255, 255, 255, 0.2);
        margin: auto;
    }
    .app{
     background-color: #000000;   
    }
    .banner{
        background: url(../img/bg/bg-mob.png) no-repeat;
        background-size: 100% 67%;
        
    }
    .banner__prod-data-mob{
        margin-top: -192px;
    }
    .banner__title{
        display: none;
    }
    .banner__title-mob{
    display: block;;
    }
    .banner__prod-data-item-border .title{
        font-size: 20px;
    }
    .banner__prod-data-item-border .desc{
        font-size: 14px;
    }
    .banner__content-comment-txt{
        font-size: 18px;
        line-height: 25px;
    }
    .banner__content-info-top .val{
        font-size: 16px;
    }
    .banner__content-info-txt{
        font-size: 26px;
        line-height: 36px;
    }
    .banner__content-info-txt span{
         font-size: 26px;
    }
    .banner__content-info-title{
        font-size: 22px;
        line-height: 31px;
    }
    .banner__content-info-num .val{
        font-size: 40px;
        line-height: 56px;
    }
    .banner__content-info-txts {
        width: 60%;
    }
    .banner__content-info-num .icon{
        width: 11px;
        height: 9px;
    }

}