.slideBackup1{
	width:1194px;
    height:834px;
}

.slideBackup1 .header{
     width:240px;
     height: 48px;
     background: url(../images/slideBackup1/header.png) no-repeat; 
     background-size:240px 48px;
     left:477px;
     top:388px;
}





