@font-face {
    font-family: 'centurygothic';
    src: url('../fonts/Century.eot');
    src: url('../fonts/centurygothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/centurygothic.woff2') format('woff2'),
         url('../fonts/centurygothic.woff') format('woff'),
         url('../fonts/centurygothic.ttf') format('truetype'),
         url('../fonts/centurygothic.svg#Century') format('svg');
    font-weight: normal;
    font-style: normal;
}

